/*=====Fonts=====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");
/*===============*/

/* Global Settings */
:root {
  --bg-primary: #000;
  --bg-secondary: #111;
  --primary-color: #1fdf64;
  --text-color: #fff;
  --details-color: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-color);
  margin-bottom: 0;
  user-select: none;
}

.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  width: 400px;
  border-radius: 25px;
  background-color: var(--bg-primary);
  border: 1px solid transparent;
  box-shadow: 20px 20px 50px -10px var(--bg-secondary);
  animation: fade 1.5s ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.img-style {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

a {
  transition: 0.4s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

.track-art {
  margin: 25px;
  width: 250px;
  height: 250px;
  border: 2px solid var(--text-color);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px var(--details-color);
  -webkit-box-shadow: 0px 6px 5px var(--details-color);
  box-shadow: 0px 6px 5px var(--details-color);
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-size: 1rem;
  font-weight: 500;
}

.track-name {
  display: flex;
  text-align: center;
  padding: 0 1.5rem;
  font-weight: 800;
  font-size: 1.6rem;
}

.track-artist {
  font-size: 0.8rem;
  opacity: 0.75;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  font-size: 2rem;
  padding: 0 18px;
  color: var(--text-color);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.playpause-track {
  font-size: 5rem;
  opacity: 1;
  transition: 0.4s;
}

.playpause-track:hover {
  transform: scale(1.05);
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider {
  width: 60%;
  background: var(--text-color);
}

.volume_slider {
  width: 30%;
  background: var(--text-color);
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: var(--primary-color);
  appearance: none;
  height: 0.5em;
  border-radius: 5px;
  outline: none;
}

.seek_slider::-moz-range-thumb,
.volume_slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--text-color);
  border: none;
}

.seek_slider::-ms-range-thumb,
.volume_slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--text-color);
  border: none;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--text-color);
}

.current-time,
.total-duration {
  padding: 10px;
  color: var(--details-color);
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

.randomActive {
  color: var(--primary-color);
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes animate {
  50% {
    height: 20%;
    background: var(--primary-color);
  }
  100% {
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}

@media (max-width: 414px) {
  .wrapper {
    width: 330px;
    max-height: 90vh;
  }

  .track-art {
    width: 200px;
    height: 200px;
  }

  .track-name {
    font-size: 1.3rem;
  }

  .seek_slider {
    width: 55%;
  }

  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 0 15px;
    font-size: 1.5rem;
  }

  .playpause-track {
    font-size: 4rem;
  }
}

@media (max-height: 558px) {
  .player {
    margin: 3rem;
  }

  .wrapper {
    width: 300px;
    max-height: 110vh;
  }

  .track-art {
    width: 120px;
    height: 120px;
  }

  .track-name {
    font-size: 1.3rem;
  }

  .seek_slider {
    width: 55%;
  }

  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 0 15px;
    font-size: 1.5rem;
  }

  .playpause-track {
    font-size: 4rem;
  }
}
